body {
    background-color: white;
    color: #555555;
}

.button {
    background-color: #2988b5;
    color: white;
}

.textBasic {

}

.formclass {
    background-color: #dedede;
    height:50%;
}

.footerclass {
    background-color: #aaaaaa;
}
