html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: white;
    color: #555555;
    padding-top: 0px;
}

form {
    background-color: #dedede;
    min-height:100%;
    padding-bottom:100%;
}

table {
    border-collapse: separate !important;
    border: 1px solid #888888;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    min-width: 40%;
    padding: 15px;
}


input {
    width:100%;
}

input.error {
    color: #a93a44;
    background-color: #ffe8ea;
    border-color: #a93a44;
}

label.error {
    color: #a93a44;
}


.button {
    border-radius: 3px;
    border-style: none;
    background-color: #1b5875;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
}

.bannerTop {
    background-color: #2988b5;
    color: white;
    height: 45px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 2%;
    font-family:Arial;
    font-size:20px;
}

.bannerBottom {
    background-color: #aaaaaa;
    height: 45px;
    width: 100%;
    bottom: 0px;
    position: sticky;
}

.emphaticText {
    font-weight: bold;
    font-size: 20px;
}


.labelClass {
    font-weight: bold;
}

.ddlClass {
    border-radius: 3px;
}
