body {
    background-color: white;
    color: #555555;
}

#bannerimage {
    width: 100%;
    background-image: url(/Resources/logo.png);
    height: 100px;
    background-color: white;
    background-position: center;
}

/*form.submitted input:invalid {
    border: 2px solid #a93a44;
    background-color: #ffe8ea;
}
*/

/*input:invalid {
    border: 2px solid green;
    background-color: #000000;
}*/

.button {
    border-radius: 3px;
    border-style: none;
    background-color: #1b5875;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
}

.banner {
    background-color: #2988b5;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family:Arial;
    font-size:20px;
}

.emphaticText {
    font-weight: bold;
    font-size: 20px;
}

.formclass {
    background-color: #dedede;
    height:50%;
    padding: 50px;
}

.footerclass {
    background-color: #aaaaaa;
}

.tableclass {
    border-collapse: separate !important;
    border: 1px solid #888888;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    min-width: 40%;
    padding: 15px;
}

.labelClass {
    font-weight: bold;
}

.ddlClass {
    border-radius: 3px;
}
